h1 {
  display: block;
  text-align: center;
}

a {
  display: block;
  font-size: 20px;
  margin: 5px auto 10px;
  text-align: center;
}

.tabla_productos {
  margin: 0 auto;
  max-width: 720px;
  min-width: 250px;
  width: 100%;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 700px;
  min-width: 300px;
  width: 100%;
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 15px;
}

.no_hay_productos {
  display: block;
  font-size: 25px;
  color: #ff0000;
  text-align: center;
}
